/* MISE EN PAGE GENERALE*/

/* supprimer marge supérieure */
.ast-single-post.ast-page-builder-template .site-main > article, .woocommerce.ast-page-builder-template .site-main {
    padding:0;
}

/* supprimer marges droite et gauche */
.ast-plain-container.ast-no-sidebar #primary {
    margin:0;
}



/* HEADER */

/* supprimer marges doite et gauche */
#masthead .ast-container, .site-header-focus-item + .ast-breadcrumbs-wrapper {
    padding: 0;
}

/* Effet de survol sur menu principal */
.ast-builder-menu .main-navigation:hover {
    font-weight: 700;
    font-size: 13px;
}


/* Effet page active sur menu principal */
.ast-builder-menu-1 .menu-item.current-menu-item > .menu-link, .ast-builder-menu-1 .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle, .ast-builder-menu-1 .current-menu-ancestor > .menu-link:focus {
    font-weight: 700;
    font-size: 13px;
}

.ast-builder-menu-1 .menu-item:hover > .menu-link, .ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
    font-weight: 700;
    font-size: 13px;
}

a {
    font-size: 16px;
    font-weight: 400;
}

a:hover {
    font-size: 13px;
    font-weight: 700;
}

a:focus {
    font-size: 13px;
    font-weight: 700;
}

.admin-link {
    display: flex;
    align-items: center;
}


/* NOUS RENCONTRER */

/* formulaire de contact */

.wpcf7 input, .wpcf7 textarea {
    border-radius: 7px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

.bouton-formulaire {
    display: flex;
    justify-content: center;
    padding-top: 20px; 
}

.wpcf7-spinner {
    display: none;
}

/* COMMANDER */

b, strong {
    font-weight: 800;
}

/* formulaire de commande */

.text-parfum {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}

.img-parfum {
    position: relative;
    width: 100%;
}

div.container {
    border-bottom: solid white 1px;
    padding-bottom: 50px;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

div.container-parfum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.quantite {
    padding-top: 15px;
    padding-left: 35%;
    padding-right: 35%;
}

input.quantite.wpcf7-text {
    border-radius: 0;
    text-align: center;
}


.deux-colonnes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;
}

h2.commande {
    border-top: solid white 1px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

h2.titre-formulaire {
    color: white;
}

div.colonne2 {
    border-left: solid white 1px;
    padding-left: 50px;
    width: 100%;

}

div.colonne1 {
    width: 100%;
    padding-right: 50px;
}


.label-formulaire {
    color:white;
}

/*retirer marge bas bordure séparative*/
.entry-content p {
    margin: 0;
}


@media screen and (max-width: 767px) {

    /* centrer texte témoignages */
    :where(body .is-layout-flow) > :last-child:last-child {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    p.quantite {
        padding-left: 40%;
        padding-right: 40%;
    }

    div.colonne1 {
        padding-right: 0;
    }



}

@media all and (min-width: 768px) and (max-width: 1024px) {
   
/*taille texte des bannières page commander*/
    P.has-text-align-center {
        font-size: 15px;
    }

    div.colonne1 {
        padding-right: 0;
    }

   
} 

@media screen and (max-width: 1024px) {
 
    /*ajout marge lien admin menu mobile*/
    .admin-link {
        padding-left: 20px;
    }

    div.container {
        flex-wrap: wrap;
    }

    .deux-colonnes {
        display: flex;
        flex-direction: column;
    }

    div.colonne2 {
        border-left: none;
        padding-left: 0;
        padding-top: 50px;
    }
}